.titreProduits {
    text-align: center;
    margin: 20vh 0 7vh 0;
    font-size : 3rem;
    color: var(--dark-slate-grey);
    font-family: 'Almendra', cursive;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: space-bet  ween;
}

.rechercheFiltre {
    width: 20vw;
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/images/liane_houblon_40.png');
    background-repeat: no-repeat;
    background-position-y: 25%;
    background-size: contain;
}

.recherche {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center
}

.titreRecherche {
    text-align: center;
    margin-top: 5rem;
    color: var(--dark-slate-grey);
    font-size: 2rem;
    font-family: 'Almendra', cursive;
}

.barre-recherche {
    width: 70%;
    height: 3.5vh;
    margin-top: 2rem;
    border-radius: 5px;
    border: 1px solid var(--dark-slate-grey);
}

.filtre {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center
}

.titreFiltre {
    text-align: center;
    margin-top: 5rem;
    color: var(--dark-slate-grey);
    font-size: 2rem;
    font-family: 'Almendra', cursive;
}

.listeFiltres {
    margin-top : 2rem;
}

.listeFiltres input {
    margin-right: 0.5rem;
}

.listeFiltres label {
    font-size: 1.2rem;
    color: var(--dark-slate-grey);
    font-weight: bold;
}

.grid-container {
    width: 80vw;
    margin-right: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 20px;
    font-size: 0.8em;
    border-radius: 5px;
    align-content: start;
}

.grid-item {
    background-color: var(--orge);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--dark-slate-grey);
    color: var(--dark-slate-grey);
    text-align: center;
}

.grid-item h2 {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Almendra', cursive;
}

.grid-item p {
    font-size: 1.5rem;
}

.invisible {
    display: none;
}